.container
  %p MUSICOLOGICAL GUIDE
  -if user_signed_in? && current_user.try(:admin?)
    %p= link_to 'New Genre', new_genre_path
  .row
    - @genres.each do |genre|
      .col-12
        .col-12.col-md-3.float-md-right
          =link_to (image_tag genre.image.thumb), genre_path(genre)
        .col-12.col-md-9.float-md-left
          %ul.list-unstyled
            %li
              %h2= genre.title
              -if user_signed_in? && current_user.try(:admin?)
                %p.admin-controls
                  = link_to 'Show', genre
                  |
                  = link_to 'Edit', edit_genre_path(genre)
                  |
                  = link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' }
            %li= genre.description
          %ul.list-inline#genre-nav
            %li.list-inline-item= link_to "View on Youtube", genre.audio
            %li.list-inline-item= link_to "View Images", root_path
            %li.list-inline-item= link_to "Listen to Sample Audio", root_path
