=render 'shared/header'
.container
  .row
    - @genres.each do |genre|
      .col-12
        .col-12.col-md-3.float-md-right
          =link_to (image_tag genre.image.thumb), genre_path(genre)
        .col-12.col-md-9.float-md-left
          %ul.list-unstyled
            %li
              %h2= genre.title
            %li= genre.description.html_safe
          %ul.list-inline#genre-nav
            %li.list-inline-item= link_to "View on Youtube", genre.audio
            %li.list-inline-item= link_to "View Images", root_path
            %li.list-inline-item= link_to "Listen to Sample Audio", root_path
