%h3
  HISTORY
  (
  =link_to 'NEW', new_admin_history_path
  )
.row

  .col-12
    = render '/admin/headers/edit'
    %table.table.table-hover#news-table
      %th date
      %th title
      %th description
      %th
      -@histories.each do |h|
        %tr
          %td= h.date.strftime("%B %-d, %Y")
          %td
            = link_to h.title, edit_admin_history_path(h.id)
          %td= truncate(h.description.html_safe, length: 50, escape: false)
          %td
            = link_to fa_icon('trash'), admin_history_path(h), method: :delete, data: { confirm: 'DELETE: Are you sure?' }, class: 'admin-delete'
    = paginate @histories
