- if @lesson.errors.any?
  #error_explanation
    %h2
      = pluralize(@lesson.errors.count, "error")
      prohibited this image from being saved:
    %ul
      - @lesson.errors.full_messages.each do |message|
        %li= message
.form-wrapper#image-form
  = simple_form_for [:admin, @lesson] do |f|
    .row
      .col-12.form-group
        .row
          .col-6
            = f.association :image, label: false
          .col-6
            = image_tag(@lesson.image.file.sm_sq) if @lesson.image_id?
      .col-12.form-group
        = f.input :question
      .col-12.form-group
        = f.input :introduction, as: :ckeditor
      .col-12.form-group
        = f.input :objectives, as: :ckeditor
      .col-12.form-group
        = f.input :activities, as: :ckeditor
      .col-12.form-group
        = f.input :assessment, as: :ckeditor
      .col-12.form-group
        = f.input :standards, as: :ckeditor
      .col-12.col-sm-6.form-group
        = f.button :submit, class: 'btn-success'
      -unless @lesson.new_record?
        .col-12.col-sm-6.form-group
          = link_to 'Delete', admin_image_path(@lesson), method: :delete, data: { confirm: 'Are you sure?'  }, class: 'btn btn-danger'
