.col-12.col-lg-3#admin-navbox
  %nav#admin-nav
    %ul.list-unstyled
      = nav_link "GENRES", admin_genres_path
      = nav_link "HISTORY", admin_histories_path
      = nav_link "IMAGES", admin_images_path
      = nav_link "LESSONS", admin_lessons_path
      = nav_link "STORIES", admin_stories_path
      = nav_link "NEWS", admin_news_items_path
      = nav_link "USERS", admin_users_path
