%nav.navbar.navbar-inverse.navbar-toggleable-md
  .container
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "containerNavbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#containerNavbar", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    =link_to "DOMINICAN MUSIC", root_path, class: 'navbar-brand'
    #containerNavbar.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        = nav_link "ABOUT", about_path, 'about'
        = nav_link "MAP", map_path, 'map'
        = nav_link "IMAGES", images_path, 'images'
        = nav_link "LESSONS", lessons_path, 'lessons'
        = nav_link "TIMELINE", timeline_path, 'timeline'
        = nav_link "MUSICOLOGICAL GUIDE", genres_path, 'musicological guide'
        = nav_link "STORIES", stories_path, 'stories'
        = nav_link "NEWS", news_items_path, 'news'
        = link_to fa_icon("search"), root_path, class: 'nav-link'
        -if user_signed_in?
          %li.nav-link
          %li
            = link_to "LOGOUT", destroy_user_session_path, method: :delete, class: 'nav-link'
          -if current_user.admin?
            %li.admin.nav-link
              = link_to "ADMIN", admin_root_path
