%nav.navbar.navbar-inverse.navbar-toggleable-md
  .container
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "containerNavbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#containerNavbar", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    =link_to "DOMINICAN MUSIC", root_path, class: 'navbar-brand'
    #containerNavbar.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        = nav_link "ABOUT", root_path
        = nav_link "MAP", root_path
        = nav_link "HISTORY", root_path
        = nav_link "MUSICOLOGICAL GUIDE", genres_path
        = nav_link "STORIES", stories_path
        = nav_link "SEARCH", root_path
        -if user_signed_in?
          %li.dropdown-divider
          = nav_link "USERS", users_path
          = nav_link "ACCOUNT", edit_user_registration_path
          %li= link_to "SIGN OUT", destroy_session_path(:user), method: :delete, class: 'nav-link'

