%nav.navbar.navbar-inverse.navbar-toggleable-md
  .container
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "containerNavbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#containerNavbar", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    =link_to "DOMINICAN MUSIC", root_path, class: 'navbar-brand'
    #containerNavbar.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        = nav_link "ABOUT", root_path
        = nav_link "MAP", root_path
        = nav_link "TIMELINE", root_path
        = nav_link "MUSICOLOGICAL GUIDE", genres_path
        = nav_link "STORIES", stories_path
        = link_to fa_icon("search"), root_path, class: 'nav-link'
