- provide(:title, "History: #{@history.title}")
%header.blur
  .blur{style: "background-image: url(#{@history.image.file.sm_rect})"}
  .container
    =render 'shared/redbox'
    .row
      .col-12.col-md-8
        %h1
          HISTORY:
          -if @history.date
            (
            %span.date= @history.date.strftime("%B %-d, %Y")
            )
          =@history.title
.container
  .row
    .col-12.whitecard
      .row
        .col-12.col-md-6.push-md-6.wc-img
          =image_tag @history.image.file.lg_square, title: @history.title, alt: @history.title
        .col-12.col-md-6.pull-md-6.wc-text
          %ul.list-unstyled
            %li
              VIEW ON:
              -if not @history.exclude_from_timeline
                = link_to timeline_path(tl_link(@history)) do
                  =fa_icon('clock-o')
                  TIMELINE
              -if not @history.exclude_from_timeline and not @history.exclude_from_map
                |
              -if not @history.exclude_from_map
                =link_to map_path(anchor: "m_#{@history.id}") do
                  MAP
                  =fa_icon('map-o')
            %li= @history.description.html_safe
  .row
    .col-12#more-images
      %h2 MORE NEARBY
      .row
        -@nearby.each do |n|
          .col-6.col-md-3
            %h3= n.title
            =link_to (image_tag n.image.file.sm_sq, alt: n.title), history_path(n)

  .row
    .col-12#more-time
      %h2 SAME TIME
      .row
        -@same_time.each do |t|
          %li
            = t.date
            = link_to t.title, history_path(t)




