- if @header.errors.any?
  #error_explanation
    %h2
      = pluralize(@header.errors.count, "error")
      prohibited this item from being saved:
    %ul
      - @header.errors.full_messages.each do |message|
        %li= message
.form-wrapper#header-form
  = simple_form_for [:admin, :story, @header] do |f|
    .row
      .col-12.form-group
        = f.input :title
      .col-12.col-sm-6.form-group
        = f.button :submit, class: 'btn-success'
      -unless @header.new_record?
        .col-12.col-sm-6.form-group
          = link_to 'Delete', admin_header_path(@header), method: :delete, data: { confirm: 'Are you sure?'  }, class: 'btn btn-danger'


