- if @story.errors.any?
  %h2 Error: please make sure to fill out all required fields
.form-wrapper#user-story-form
  = simple_form_for @story do |f|
    .row
      .col-12.col-sm-6.form-group
        = f.input :name
      .col-12.col-sm-6.form-group
        = f.input :email
      .col-12.form-group
        = f.input :place
      .col-12.form-group
        = f.input :story_text, label: 'Your story'
      .col-12.col-sm-12.form-group
        = f.button :submit, 'Submit story', class: 'btn-success'
