.container
  - if @story.errors.any?
    #error_explanation
      %h2
        = pluralize(@story.errors.count, "error") 
        prohibited this story from being saved:
      %ul
        - @story.errors.full_messages.each do |message|
          %li= message
  .form-wrapper#story-form
    = simple_form_for @story do |f|
      .row
        .col-12.col-sm-6.form-group
          = f.input :email
        .col-12.col-sm-6.form-group
          = f.input :name
        .col-12.form-group
          = f.input :place
        .col-12.form-group
          = f.input :story_text
        .col-12.form-group
          %p Image (Optional)
          = f.input :image, label: false
        .col-12.form-group
          = f.button :submit, class: 'btn-success'
