=render 'shared/header'
.container#page-content
  .row
    .col-12
      -flash.each do |key, value|
        .flash(class=key)= value
      %h2.add_story
        =link_to 'add your story', new_story_path
    - @stories.each do |story|
      .col-12.col-sm-6.col-md-3
        .col-12
          =link_to (image_tag story.image.sq_thumb, alt: story.name), story_path(story)
        .col-12
          %ul.list-unstyled
            %li= story.name
            %li= story.place
            %li= truncate(story.story_text, length: 100, escape: false)
  = paginate @stories
