%header.masthead(style="background-image: url(#{path_to_image('joseito_mateo.jpg')})")
  .container
    =render '/shared/redbox'

.dsi-panel.bb
  .container
    %section#overview
      %h1 a history of dominican music in the u.s.
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id urna purus. Aenean dapibus sem ac sodales tristique. Sed id sem in urna commodo molestie. Vivamus elementum massa nibh, consectetur fringilla risus tincidunt eu. Cras consequat tincidunt maximus.
      .row.site-elements
        .col-12.col-sm-6.col-md-3
          %h2
            = link_to 'your stories', stories_path
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id urna purus. Aenean dapibus sem ac sodales tristique. Sed id sem in urna commodo molestie. Vivamus elementum massa nibh.
        .col-12.col-sm-6.col-md-3
          %h2
            = link_to 'interactive map', map_path
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id urna purus. Aenean dapibus sem ac sodales tristique. Sed id sem in urna commodo molestie. Vivamus elementum massa nibh.
        .col-12.col-sm-6.col-md-3
          %h2
            = link_to 'timelines', timeline_path
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id urna purus. Aenean dapibus sem ac sodales tristique. Sed id sem in urna commodo molestie. Vivamus elementum massa nibh.
        .col-12.col-sm-6.col-md-3
          %h2
            = link_to 'genre guide', genres_path
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id urna purus. Aenean dapibus sem ac sodales tristique. Sed id sem in urna commodo molestie. Vivamus elementum massa nibh.

.dsi-panel.full-img(style="background-image: url(#{path_to_image('luis_herrero_faded.jpg')})")
  .container
    %section#stories
      .row
        .col-12.col-sm-6.col-md-3
          %h1.bb
            = link_to 'stories', stories_path
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id urna purus. Aenean dapibus sem ac sodales tristique. Sed id sem in urna commodo molestie. Vivamus elementum massa nibh, consectetur fringilla risus tincidunt eu. Cras consequat tincidunt maximus.
        -@stories.each_with_index do |s,n|
          -if n != 0
            -hideclass = 'hidden-md-down'
          .col-12.col-sm-6.col-md-3{ class: "#{ hideclass }" }
            =link_to image_tag(s.image.sq_thumb, alt: s.name), story_path(s)

.dsi-panel.bg
  .container
    %section#map
      .row
        .col-12.col-sm-6.col-md-9.map-img(style="background-image: url(#{path_to_image('map.png')})")
          =link_to '', map_path
        .col-12.col-sm-6.col-md-3.text-box
          %h1.bb
            = link_to 'interactive map', map_path
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id urna purus. Aenean dapibus sem ac sodales tristique. Sed id sem in urna commodo molestie. Vivamus elementum massa nibh, consectetur fringilla risus tincidunt eu. Cras consequat tincidunt maximus.

.dsi-panel.half-blue
  .container
    %section#timeline
      .row
        .col-12.col-sm-6.col-md-3.text-box
          %h1.orange
            =link_to 'timeline', timeline_path
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id urna purus. Aenean dapibus sem ac sodales tristique. Sed id sem in urna commodo molestie. Vivamus elementum massa nibh, consectetur fringilla risus tincidunt eu. Cras consequat tincidunt maximus.
        .col-12.col-sm-6.col-md-9
          %p

.dsi-panel.full-img(style="background-image: url(#{path_to_image('nyc_blur.jpg')})")
  %section#images
    .container
      .row
        .col-12
          %h1
            =link_to 'images from the archive', images_path
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id urna purus. Aenean dapibus sem ac sodales tristique. Sed id sem in urna commodo molestie. Vivamus elementum massa nibh, consectetur fringilla risus tincidunt eu. Cras consequat tincidunt maximus.
        -@images.each_with_index do |i,n|
          -if n == 0 or n == 1
            -hideclass = ''
          -else
            -hideclass = ' hidden-md-down'
          .col-6.col-md-6.col-lg-2{ class: "#{ hideclass }" }
            =link_to image_tag(i.file.sq_thumb), image_path(i), alt: i.title, title: i.title

.dsi-panel.bg
  %section#news
    .container
      %h1
        = link_to 'News and events', news_items_path
      #carouselNews.carousel.slide{"data-ride" => "carousel", "data-interval" => '6000'}
        .carousel-inner{:role => "listbox"}
          -@news.each_with_index do |n,i|
          -slideclasses = i == 0 ? 'row carousel-item active' : 'row carousel-item'
            %div{ class: "#{ slideclasses }" }
              .col-12.col-sm-6
                %ul.list-unstyled#news-slides
                  %li.news-title
                    =link_to n.title, news_item_path(n)
                  %li= n.place
                  %li.news-date= n.date.strftime("%A, %B %-d, %Y")
              .col-12.col-sm-6
                = truncate(n.description, escape: false, length: 300)
