%h3
  IMAGES
  (
  =link_to 'NEW', new_admin_image_path
  )
.row

  .col-12
    = render '/admin/headers/edit'
    %table.table.table-hover#image-table
      %th title
      %th description
      %th
      -@images.each do |i|
        %tr
          %td= link_to i.title, edit_admin_image_path(i.id)
          %td= truncate(i.description.html_safe, length: 50, escape: false)
          %td
            = link_to fa_icon('trash'), admin_image_path(i), method: :delete, data: { confirm: 'DELETE: Are you sure?' }, class: 'admin-delete'
    = paginate @images
