- if @user.errors.any?
  #error_explanation
    %h2
      = pluralize(@user.errors.count, "error")
      prohibited this user from being saved:
    %ul
      - @user.errors.full_messages.each do |message|
        %li= message
.form-wrapper#user-form
  = simple_form_for [:admin, @user] do |f|
    .row
      .col-12.form-group
        .row
          .col-6.form-group
            = f.input :username
          .col-6.form-group
            = f.input :email
      .col-12.form-group
        = f.input :password
        = f.input :password_confirmation
      .col-12.form-group
        = f.select(:role, User.roles.keys.map {|role| [role.titleize,role]})
      .col-12.col-sm-6.form-group
        = f.button :submit, class: 'btn-success'
      -unless @user.new_record?
        .col-12.col-sm-6.form-group
          = link_to 'Delete', admin_user_path(@user), method: :delete, data: { confirm: 'Are you sure?'  }, class: 'btn btn-danger'
